<form id="rvform" name="rvform" action="redvoznje.php" method="get">
  <table class="cenovnik-form" style="float:center" width="100%">
     <tr>
        <td width="210px">
            <span class="lightblue-box-label"> Cena Karte </span>
        </td>
        <td align="left">
           
          <select [(ngModel)]="selectedTicketType" name="selectedTicketType">
            <option *ngFor="let TicketType of cenovnikInfo.ticketTypes" [ngValue]="TicketType">
              {{TicketType.Name}}
            </option>
          </select>

          <select [(ngModel)]="selectedUserType" name="selectedUserType">
              <option *ngFor="let UserType of cenovnikInfo.userTypes"  [ngValue]="UserType">
                {{UserType.Name}}
              </option>
            </select>
            <div align="right">
                <button class="btn float-right login_btn" (click)="ispisCena()" [disabled]="selectedUserType.Id==undefined || selectedTicketType.Id==undefined">Trenutna cena</button>
            </div>
            <input id='pricelist.Price' [(ngModel)] = 'novaCena' type="text" name="cena" value="{{pricelist.Price}}" />
        </td>
        </tr>
        <tr>    
            <td></td>
            <td>
            <div align="right">
              <button class="btn float-right login_btn" (click)="promeniCenu()" [disabled]="selectedUserType.Id==undefined || selectedTicketType.Id==undefined">Kupi</button>
            </div>
            </td>
          </tr>
      </table>  
      </form>