.cenovnik-form tr {
    background-color: #C6EBFB;
    background-color: #EDF0F2;
    color: #2D85BC;
    border: 1px solid #fff;
}
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 70px;
}